alembic
blinker
chardet
click
Flask
Flask-Dance
Flask-DebugToolbar
Flask-Login
Flask-Migrate
Flask-OAuth
Flask-OAuthlib
Flask-SQLAlchemy
Flask-WTF
httplib2
idna
itsdangerous
Jinja2
keras==2.2.4
lazy
Mako
MarkupSafe
oauth2
oauthlib
opencv-python
pillow
python-dateutil
python-editor
requests
requests-oauthlib
six
SQLAlchemy
SQLAlchemy-Utils
tensorflow==2.11.1
urllib3
URLObject
Werkzeug
wincertstore
WTForms
